<?xml version="1.0" encoding="utf-8"?>
<configuration> 
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
  </startup>
  <appSettings>   
    <add key="SysUpdate" value="http://organizersys.com/"/>
    <add key="Version" value="2.0"/>
  </appSettings> 
</configuration>
