<div class="menu">
  <div class="main-menu">
    <div class="scroll">
      <ul class="list-unstyled">
        <ng-container *ngFor="let item of menu; let i = index">
          <li *appHasPermission="item.permissionKeys ?? ''"
              routerLinkActive="active"
              [class.active]="isRailActive(item, i)">
            <a [routerLink]="item.route ?? null" (click)="onRailClick(item, i, $event)">
              <i [class]="item.icon"></i>
              <span>{{ item.labelKey }}</span>
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
  <div class="sub-menu">
    <div class="scroll">
      <ng-container *ngFor="let item of menu; let i = index">
        <ul class="list-unstyled" *ngIf="item.children" [class.d-block]="openedGroupIndex() === i">
          <ng-container *ngFor="let child of item.children">
            <li *appHasPermission="child.permissionKeys ?? ''" routerLinkActive="active">
              <a [routerLink]="child.route">
                <i [class]="child.icon"></i> <span class="d-inline-block">{{ child.labelKey }}</span>
              </a>
            </li>
          </ng-container>
        </ul>
      </ng-container>
    </div>
  </div>
</div>
